
/*--------------------------------------------------*/
// Bootstrap overwrites 
/*--------------------------------------------------*/

.form-control, input[type=text], input[type=email], input[type=number], select, textarea{
    padding: 1rem 1.8rem .5rem 1rem;
    margin: 0;
	transition: all .2s ease-in-out;
    
    position: relative;
	display: block;
	border-radius: 0;
	outline: 0;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	transition: all .2s ease-in-out;
}

.form-control:focus, 
input[type=text]:focus, 
input[type=email]:focus, 
input[type=number]:focus {
    outline: 0;
    border-radius: none;    
    box-shadow: none;
}