
.main {
    text-align: center;
}

.quote {
    font-family: cursive;
    color: #e243de;
    font-size: 24px;
    padding-bottom: 10px;
}

.author {
    font-family: sans-serif;
    color: #559834;
    font-size: 20px;
}